<footer class="footer">
    <div class="container text-center">
      <span>
          <a href="https://github.com/triminhvi" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a><span>&nbsp;&nbsp;</span>
          <a href="https://www.linkedin.com/in/vitri/" target="_blank"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a><span>&nbsp;&nbsp;</span>
          
      </span>
    </div>
  </footer>