<nav class="navbar navbar-toggleable-md navbar-default bg-warning">
  <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">VoteMe</a>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <% if(user) { %>
              <li class="nav-item">
                  <a class="nav-link" href="/profile">Profile</a>
                </li>
            <% } %>
          </ul>
          <ul class="navbar-nav navbar-right">
            <!-- If there is a req.user -->
            <%if (user) { %>
              <li class="nav-item active">
                  <a class="nav-link" href="/auth/logout">Logout <span class="sr-only">(current)</span></a>                  
              </li>
              <li class="nav-item active">
                  <li class="nav-item active">
                      <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&mobile_iframe=true&width=59&height=20&appId" width="60px" height="35px" style="border:none;overflow:visible !important; padding-top: 10px;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>               
                  </li>                  
              </li>
            <% } else { %> <!-- else there is not req.user -->
              <li class="nav-item active">
                  <a class="nav-link" href="/auth/signup">Sign Up <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/auth/login">Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <li class="nav-item active">
                        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&mobile_iframe=true&width=59&height=20&appId" width="60px" height="35px" style="border:none;overflow:visible !important; padding-top: 10px;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>              
                    </li>                  
                </li>
            <% } %>  
          </ul>
        </div>
  </div>    
</nav>